.footer {
    padding: 2.5rem 0rem;

    & .wrapper {
        border-top: 1px solid rgba($color-secondary, .6);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 2.5rem;

        @media only screen and(max-width: $media-small) {
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    }

    &__item {
        @media only screen and(max-width: $media-small) {
            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
    }

}