.hero {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: 
        "header header"
        "social text"
        "social box"
    ;

    height: 100%;
    width: 100%;
    position: relative;
    
    & .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 10rem;
    }
    
    & .social {
        grid-area: social;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding-bottom: 7.5rem;

        &__items {
            & ul {
                & li {
                    &:not(:last-child) {
                        margin-bottom: 2.5rem;
                    }
                }
            }
        }
    }
    
    & .text {
        grid-area: text;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    
    & .box {
        background-color: $color-primary;
        grid-area: box;
        z-index: 150;
        width: 50%;
        display: flex;
        justify-self: flex-end;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }
}

