.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    padding-left: 10rem;

    @media only screen and (max-width: $media-small) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        z-index: 250000;
        background-color: $color-secondary;
    } 

    &--left,
    &--right {
        display: flex;

        @media only screen and (max-width: $media-small) {
            display: inline-flex;
        } 
    }

    &--left {
        @media only screen and (max-width: $media-small) {
            margin-bottom: 5rem;
        }
    }

    & ul {
        display: flex;
        list-style: none;
        @media only screen and (max-width: $media-small) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
    }

    & li {

        &:not(:last-child) {
            margin-right: 2.5rem;

            @media only screen and (max-width: $media-small) {
                margin-right: 0;
                margin-bottom: 5rem;
            }
        }
    }

    & a {
        display: inline-block;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 400;
        transition: all .3s ease-in-out;
        text-transform: capitalize;

        &:hover {
            color: $color-terheary;
        }

        @media only screen and (max-width: $media-small) {
            font-size: 2.5rem;
        }
    }

    &--open {
        transform: translateX(0%);
        transition: all .5s ease-in-out;
        opacity: 1;
        visibility: visible;
    }
}

ul {
    list-style: none;
}

.menu {
    height: 3rem;
    width: 5rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 300000;
    overflow: hidden;

    &__line {
        height: .3rem;
        width: 100%;
        background-color: $color-primary;
        backface-visibility: hidden;
        transition: all .5s ease-in-out;

        &--topOpen {
            transform: rotate(45deg) translate(7px, 7px);
        }

        &--midOpen {
            opacity: 0;
            visibility: hidden;
        }

        &--bottomOpen {
            transform: rotate(-45deg) translate(8px, -8px);
        }
    }

    @media only screen and(max-width: $media-small) {
        display: flex;
    }
}