@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-secondary;
    display: inline-block;
    margin-bottom: 2.5rem;
}

.logo {
    color: $color-primary;
    font-size: 3.2rem;
    font-weight: 400;
}

.hero {

    & h6 {
        color: $color-primary;
    }

    &--heading {
        font-size: 7.6rem;
        font-weight: 700;
        width: 75rem;
        color: $color-primary;
        text-transform: capitalize;
        margin-bottom: 5rem;
    }
}

.box {

    &--number {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3;
        text-transform: capitalize;
    }
}

//Social icons

.fab {
    color: $color-primary;
    font-size: 2rem;
    transition: all .3s ease-in-out;

    &:hover {
        color: $color-terheary;
    }
}

.fa-chevron-right {
    margin: 0rem 0rem 1.5rem 1rem;
    font-size: 2rem;
}

.small--title {
    color: $color-terheary;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.dark {
    color: #000;
    display: inline-block;
    font-weight: 700;
}

.copy, .info {
    font-weight: 700;
}

.mail {
    color: $color-secondary;
    transition: all .3s ease-in-out;

    &:hover {
        color: $color-terheary;
    }
}