.hero {
    position: relative;
    background-image: url(../images/slide3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    //background-color: $color-primary;
    background-color: pink;
    padding: 10rem 0rem;
}